<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.student_system.mapper.ClassRoomMapper">


    <resultMap id="classResultMap" type="com.ssm.student_system.bean.ClassRoom">

        <result column="cid" property="cid" jdbcType="INTEGER"/>
        <result column="kind" property="kind" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="column_list">
        cid,kind
    </sql>

    <select id="selectClassRoom" resultMap="classResultMap">
        select <include refid="column_list"/> from class
    </select>


    <select id="selectClassRoomById" resultMap="classResultMap">
        select cid,kind from class where cid = #{value}
    </select>

    <select id="selectClassRoomAll" resultMap="classResultMap">
        select cid,kind from class
    </select>

    <insert id="insertClassRoom" parameterType="com.ssm.student_system.bean.ClassRoom">
        insert into class(cid,kind) values (#{cid},#{kind})
    </insert>

    <update id="updateClassRoom" parameterType="com.ssm.student_system.bean.ClassRoom">
        update class set kind =#{kind} where cid =#{cid}
    </update>

    <delete id="deleteClassRoomById">
        delete from class where cid = #{value}
    </delete>
<!--一对多查询-->
    <resultMap id="classStudentResultMap" type="com.ssm.student_system.bean.ClassRoom">
        <id column="bid" property="cid" jdbcType="INTEGER"/>
        <result column="kind" property="kind" jdbcType="VARCHAR"/>
        
        <collection property="studentList" ofType="com.ssm.student_system.bean.Student">
            <result column="sid" property="sid" jdbcType="INTEGER"/>
            <result column="sname" property="sname" jdbcType="VARCHAR"/>
            <result column="age" property="age" jdbcType="INTEGER"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
            <result column="sex" property="sex" jdbcType="VARCHAR"/>

        </collection>
    </resultMap>
    <select id="selectStudentByCid" resultMap="classStudentResultMap">
        select c.cid bid,kind,sid,sname,age,state,sex from class c,student s where c.cid =s.cid and c.cid=#{cid}
    </select>



</mapper>





